body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}
th {
    padding-bottom: 5px;
}
.flash {
    color: green;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
strong {
    font-weight: bold;
}